<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <h5>Carrito de compras
    </h5>
    <hr>
    <div class="card product" *ngIf="cart.total === 0">
        <p > En este momento tu carrito de compras está vacío, para añadir elementos dirijase a la sección de prductos y presione el boton 'añadir a la cesta'</p>
    </div>
    <div *ngFor="let product of cart.products" class="card product"> 
      <div class="row">
        <div class="col-lg-2 col-sm-2">
          <img class="img-fluid" [src]="product.img" [alt]="product.name">
          <button class="btn btn-sm btn-danger mt-2 " (click)="clearItem(product)"> <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="col-lg col-sm">
          <div class="row">
            <div class="col-lg-9 col-sm-9">
              <h6>{{product.name}}</h6>
              <shop-qty-selector
              [qty]="product.qty"
              [stock]="product.stock"
              (updateValue)="changeValue($event, product)"
              >
              </shop-qty-selector>
            </div>
            <div class="col-lg col-sm">
              <ng-template #noDiscount>
                <div class="price">
                  ₡ {{product.price}}
                </div>
              </ng-template>
              <div class="price" *ngIf="product.discount; else noDiscount">
                ₡ {{product.priceDiscount | number}}
                <br>
                 <span>
                  ₡ {{product.price | number}}
                 </span>
                 <br>
                 <span class="discount-percentage">
                    ({{product.discount}} %)
                 </span>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class=" row product" *ngIf="cart.total > 0">
    <div class="col-lg-5 col-sm-5">
      Subtotal: {{cart.subtotal}}
    </div>
    <div class="col-lg col-sm">
      Total a pagar:   <span id="priceTag" class="text-primary float-right price-total" > ₡ {{cart.total | number}}</span>
    </div>
  </div>
  <hr>
  <div class="d-flex justify-content-center justify-content-md-center justify-content-sm-center" *ngIf="cart.total > 0">
    <button class="btn btn-danger mr-2 mr-sm-2  btnCan" (click)="clear()"> <i class="fa fa-trash" aria-hidden="true"></i> &nbsp; Cancelar pedido</button>
    <button class="btn  btn-success btnFin" (click)="finalizarPedido()"> <i class="fas fa-check"></i> &nbsp; Realizar pedido </button>
  </div>
  </div>
 
  <div id="overlay"></div>
