<div class="container-fluid navbar-dark bg-dark">
  <div class="d-flex justify-content-between">
      <div>
          <img class="logotype" src="/assets/img/mercadologo.png" alt="Logotipo de la tienda" />
      </div>
      <div>
          <p></p>
      </div>
      <div class="d-flex flex-row-reverse">
        <a class="nav-link active" href="#">Comprar</a>      
        <a class="nav-link" href="#"></a>      
        <a class="nav-link disabled" href="#">Carrito</a>    
      </div>
  </div>
</div>
