/*
REFERENCIA DE ESTILO: TECHNO-MASTER;


Paleta:
	Gris 		: #E4E7ED #FBFBFC #8D99AE #B9BABC
  Naranja  : #F3753A;

Fuente a utilizar: Montserrat
*/

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 350;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  color: #2B2D42;
  font-weight: 700;
  margin: 0 0 10px;
}

a {
  color: #2B2D42;
  font-weight: 500;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}

a:hover, a:focus {
  color: #F3753A;
  text-decoration: none;
  outline: none;
}

.input {
  height: 40px;
  padding: 0px 15px;
  border: 1px solid #E4E7ED;
  background-color: #FFF;
  width: 100%;
}

.input-select {
  padding: 0px 15px;
  background: #FFF;
  border: 1px solid #E4E7ED;
  height: 40px;
}

.input-radio input[type="radio"]+label span {
  border-radius: 50%;
}


.section {
  padding-top: 30px;
  padding-bottom: 30px;
}


#breadcrumb {
  padding: 30px 0px;
  background: #FBFBFC;
  border-bottom: 1px solid #E4E7ED;
  margin-bottom: 30px;
}

#encabezado-superior {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1E1F29;
}

.header-total > div {
    position: fixed;
}

.header-links li {
  display: inline-block;
  margin-right: 15px;
  font-size: 12px;
}

.header-links li:last-child {
  margin-right: 0px;
}

.header-links li a {
  color: #FFF;
}

.header-links li a:hover {
  color: #F3753A;
}

.header-links li i {
  color: #F3753A;
  margin-right: 5px;
}

/*Logo*/
#header {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #15161D;
}

.header-logo {
  float: left;
}

.header-logo .logo img {
  display: inline-block;
}

.header-logo .logo {
  color: white;
  font-size: 3rem;
}
/*Busqueda*/
.header-search {
  padding: 15px 0px;
}

.header-search form {
  position: relative;
}

.header-search form .input-select {
  margin-right: -4px;
}

.header-search form .input {
  width: calc(100% - 260px);
  margin-right: -4px;

}

.header-search form .search-btn {
  height: 40px;
  width: 100px;
  background: #F3753A;
  color: #FFF;
  font-weight: 700;
  border: none;
}

/*Carrito*/
.header-ctn {
  float: right;
  padding: 15px 0px;
}

.header-ctn>div {
  display: inline-block;
}

.header-ctn>div+div {
  margin-left: 15px;
}

.header-ctn>div>a {
  display: block;
  position: relative;
  width: 90px;
  text-align: center;
  color: #FFF;
}

.header-ctn>div>a:hover{
  color: #F3753A;
}

.header-ctn>div>a>i {
  display: block;
  font-size: 18px;
}

.header-ctn>div>a>span {
  font-size: 12px;
}

.header-ctn> div > a > .qty {
  position: absolute;
  right: 15px;
  top: -10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  font-size: 10px;
  color: #FFF;
  background-color: #F3753A;
}

.header-ctn .menu-toggle {
  display: none;
}

.contenido-texto
{
  padding-top: 3%;
  margin-left: 13.2%;
  margin-right: 13.2%;
  text-align: justify;
}
.contenido-texto img
{
  padding-right: 5%;
  border-style: fill;
  border-radius: 6px

}

.sobre-txt-img
{
    margin-bottom: 100px;
}

.sobre-txt-img img
{
    width: 900px;
}



#navigation {
  background: #FFF;
  border-top: 2px solid #F3753A;
}

#footer {
  background: #15161D;
  color: #B9BABC;
}

#bottom-footer {
  background: #1E1F29;
}

.footer {
  margin: 30px 0px;
}

.footer .footer-title {
  color: #FFF;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0px 0px 30px;
}

.footer-links li a {
  color: #ffff;
}

.footer-links li i {
  margin-right: 15px;
  color: #F3753A;
  width: 14px;
  text-align: center;
}

.footer-links li a:hover {
  color: #F3753A;
}

.copyright {
  margin-top: 30px;
  display: block;
  font-size: 12px;
}


/*PRODUCTOS*/
.product {
  position: relative;
  margin: 15px 0px;
  transition: 0.2s all;
}

.product:hover {
  box-shadow: 0px 0px 6px 0px #F3753A;
}

.product .product-img {
  position: relative;
}

.product .product-img>img {
  width: 100%;
}

.product .product-body {
  position: relative;
  padding: 15px;
  background-color: #FFF;
  text-align: center;
  z-index: 20;
}

.product .product-body .product-category {
  text-transform: uppercase;
  font-size: 12px;
  color: #8D99AE;
}

.product .product-body .product-name {
  text-transform: uppercase;
  font-size: 14px;
}

.product .product-body .product-name>a {
  font-weight: 700;
}

.product .product-body .product-price {
  color: #D10024;
  font-size: 16px;
}

.product .product-body .product-btns>button {
  position: relative;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
}

.product .product-body .product-btns>button:hover {
  background-color: #333333;
  color: #F3753A;
  border-radius: 50%;
}


/*CONTACTO*/

.contacto {
  text-align: center;
  background: rgba(248,80,50,1);  
  background: -webkit-linear-gradient(left, rgba(248, 80, 20, 1), rgba(210, 150, 80, 1) 100%);
  background: -moz-linear-gradient(left, rgba(248, 80, 20, 1) 0%, rgba(210, 150, 80, 1) 100%);
  padding-bottom: 10%;

}

.contacto ul.list-social li a {
  font-size: 2em;
  line-height: 3em;
  display: block;
  width: 3em;
  height: 3em;
  color: #ffffff;
  border-radius: 100%;
}

.contacto ul.list-social li a:hover{
  color: rgb(0, 99, 167);
}


.contacto form{
  width: 28.125em;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 0.625em  1.25em;
  box-sizing: border-box;
  margin-top:  1.25em;
  border-radius: 10px;
}

.contacto input, textarea{
  width: 100%;
  margin-bottom: 1.25em;
  padding: 0.625em;
  box-sizing: border-box;
  font-size: 1.13em;
}

.contacto textarea{
  min-height: 6.25em;
  max-height: 12em;
  max-width: 100%;
}

.contacto h3
{
  color: white;
  padding-top: 10%;
  padding-bottom: 10%;
}

.contacto h2
{
   color: white;
   padding-top: 5%;
   padding-bottom: 5%;
}

#btnEnviar{
    color: #ffffff;
    background: rgba(248,80,50,1);  
    background: -webkit-linear-gradient(left, rgba(248, 80, 20, 1), rgba(210, 150, 80, 1) 100%);
    background: -moz-linear-gradient(left, rgba(248, 80, 20, 1) 0%, rgba(210, 150, 80, 1) 100%);
    border-color: transparent;
    font-size: 1.4em;
}

#btnEnviar:hover{
  background: rgba(0,0,0, 0.5); 
  
}


/*USUARIO*/
.contenedor-formulario{
    background: url(../img/fondo-login.jpg);
    background-size: cover;
    padding-left: 35%;
    padding-right: 35%;
    padding-bottom: 10%;
}

.contenedor-formulario a
{
    color: white;
}

.contenedor-formulario a:hover
{
    color: black;
    text-align: center;
    margin-top: 30px;
}

.formulario-ingreso {
  width: 390px;
  padding-top: 10%;
  position: center;
  padding-bottom: 10%;
}

.titulo-ingreso {
  font-family: Montserrat-Bold;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  color: white;

}

.imagen-usuario {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 20px;
}
.imagen-usuario img {
  width: 100%;
}

.campo-texto {
  margin-top: 2%;
  margin-bottom: 5%;
  width: 100%;
  z-index: 1;
}

.input-ingreso {
  font-family: Montserrat-Bold;
  font-size: 15px;
  display: inline;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 53px;
  border: none;
}

.boton-ingresar{
  font-family: Montserrat-Bold;
  font-size: 16px;
  line-height: 1.5;
  color: #e0e0e0;
  border:none;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #333333;
  transition: all 0.4s;
  position: relative;
  z-index: 2;
  margin-bottom: 5%;
}

.boton-ingresar:hover {
  background-color: #222222;
  opacity: 2;
}

.crear-cuenta{
  padding-left: 4%;
}


/* /USUARIO */



/* RESPONSIVIDAD */
@media only screen and (max-width: 1201px) {}

@media only screen and (max-width: 991px) {
  #top-header .header-links.pull-left {
    float: none !important;
  }
  #top-header .header-links.pull-right {
    float: none !important;
    margin-top: 5px;
  }
  .header-logo {
    float: none;
    text-align: center;
  }
  .header-logo .logo {
    display: inline-block;
  }
  #product-imgs {
    margin-bottom: 60px;
    margin-top: 15px;
  }
  #rating {
    text-align: center;
  }
  #reviews {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .contenido-texto img
  {
    max-width: 400px;
    display: block;
  }

  .contenido-texto h1{
    font-size: 20px;
  }
  .contenido-texto h3, h2{
    font-size: 16px;
  }

  .footer a{
    font-size: 10px;
  }

  .footer p {
    font-size: 12px;
  }

  .contenedor-formulario{
    padding-left: 10%;
    padding-right: 2%;
    padding-bottom: 10%;
}
}

@media only screen and (max-width: 767px) {
  .section-title .section-nav {
    float: none;
    margin-top: 10px;
  }
  .section-tab-nav li {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 360px) {
  .contenedor-formulario{
    padding-left: 25%;
    padding-right: 2%;
    padding-bottom: 10%;
  }

  .contenedor-formulario a
  {
      font-size: 12px;

  }
  .contenido-texto
  {
    font-size: 12px;
  }

  .contenido-texto h3
  {
    font-size: 14px;
    text-align: center;
  }

  .contenido-texto img
  {
    max-width: 250px;
    display: block;
  }

  .formulario-ingreso {
    width: 200px;
    padding-top: 5%;
    padding-bottom: 5%;
    
  }

  .titulo-ingreso {
    font-family: Montserrat-Bold;
    font-size: 16px;
  }

  .imagen-usuario {
    width: 100px;
    height: 100px;
    
  }
  .imagen-usuario img {
    width: 100%;
  }

  .campo-texto {
    margin-top: 2%;
    margin-bottom: 5%;
    width: 100%;
    z-index: 1;
  }
  .input-ingreso {
    width: 300px;
  }

  .boton-ingresar{
    font-size: 12px;
    width: 300px;
    height: 50px;
  }

  .crear-cuenta
  {
    padding-left: 10%;
  }

  
}


@media only screen and (max-width: 480px) {
  [class*='col-xs'] {
    width: 100%;
  }
  .store-grid {
    float: none;
    margin-top: 10px;
  }
  .store-pagination {
    float: none;
    margin-top: 10px;
  }

  .contenedor-formulario{
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 10%;
  }
}

@media only screen and (max-width: 991px) {
  .header-ctn .menu-toggle {
    display: inline-block;
  }
  #responsive-nav {
    position: fixed;
    left: 0;
    top: 0;
    background: #15161D;
    height: 100vh;
    max-width: 250px;
    width: 0%;
    overflow: hidden;
    z-index: 22;
    padding-top: 60px;
    transform: translateX(-100%);
    transition: 0.2s all;
  }
  #responsive-nav.active {
    transform: translateX(0%);
    width: 100%;
  }
  .main-nav {
    margin: 0px;
    float: none;
  }
  .main-nav>li {
    display: block;
    float: none;
  }
  .main-nav>li>a {
    padding: 15px;
    color: #FFF;
  }

  .main-nav>li>a:hover {
    color: #F3753A;
  }
}


/* /RESPONSIVIDAD */

