.custom-bg{
    background-color: #ffffff;
}

.dropdown-item, .fas {
    cursor: pointer;
}
.badge.badge-primary.notification{
    position: relative;
    top: -14px;
    left: -2px;
    border-radius: 10px;
}