/*PRODUCTOS*/
.product {
    position: relative;
    margin: 15px 0px;
    transition: 0.2s all;
  }
  
  .product:hover {
    box-shadow: 0px 0px 6px 0px #F3753A;
  }
  
  .product .product-img {
    position: relative;
  }
  
  .product .product-img>img {
    width: 100%;
  }
  
  .product .product-body {
    position: relative;
    padding: 15px;
    background-color: #FFF;
    text-align: center;
    z-index: 20;
  }
  
  .product .product-body .product-category {
    text-transform: uppercase;
    font-size: 12px;
    color: #8D99AE;
  }
  
  .product .product-body .product-name {
    text-transform: uppercase;
    font-size: 14px;
  }
  
  .product .product-body .product-name>a {
    font-weight: 700;
  }
  
  .product .product-body .product-price {
    color: #D10024;
    font-size: 16px;
  }
  
  .product .product-body .product-btns>button {
    position: relative;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
  }
  
  .product .product-body .product-btns>button:hover {
    background-color: #333333;
    color: #F3753A;
    border-radius: 50%;
  }