<footer>
    <hr>
    <div class="container text-center">
        <address>
            <p>Mercado Vida 2021 -- Mercado para tu vida</p>
            <p>
                Costa Rica<br/>
                Tel: 2222-2222 - contacto mercadovida@gmail.com
                <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active">Contactanos </a>

            </p>

        </address>
        <ul class="social nav justify-content-center ">
            <li>
                <a href="https://www.facebook.com/" target="_blank" >
                    <img  src="/assets/icons/facebook.png" alt="Logotipo de facebook">
                </a>
            </li>
            
            <li>
                <a href="https://wa.me/+50683273430" target="_blank" >
                    <img  src="/assets/icons/whastapp.png" alt="Logotipo de whastapp">
                </a>
            </li>
        </ul>
    </div>

</footer>
