<footer>
    <hr>
    <div class="container">
        <div class="row">
          <div class="col">
            <address>
                <p>Contacto</p>
                <p>
                    <br/>
                    Tel: 8661-0436  mercadovidacr@gmail.com
                   
                </p>
    
            </address>
          </div>
          <div class="col order-12">
            <p>Mercado Vida 2021 -- Mercado para tu vida</p>
            <p>
                Costa Rica<br/>
                
            </p>
          </div>
          <div class="col order-1">
            <ul class="social nav justify-content-center ">
                <li>
                    <a href="https://www.facebook.com/" target="_blank" >
                        <img  src="/assets/icons/facebook.png" alt="Logotipo de facebook">
                    </a>
                </li>
                
                <li>
                    <a href="https://wa.me/+50686610436" target="_blank" >
                        <img  src="/assets/icons/whastapp.png" alt="Logotipo de whastapp">
                    </a>
                </li>
            </ul>
          </div>
        </div>
      </div>
   

</footer>
