/**===================================================

Colores admin 
====================================================*/
$admin-primary-color: #07363f !important;
$admin-secondary-color: #0143a3 !important;

/**===================================================

Colores publico 
====================================================*/
$price-primary:#cc1c39 !important;
$price-discount:#999 !important;




/**===================================================

Colores comunes 
====================================================*/