@import './colors.scss';
/*Estilos de los precios*/
.price{
    font-size: 18px;
    font-weight: 800;
    color:$price-primary;
    text-align: left;
    margin-left: 5px;
    margin-bottom: 12px;
  }
  .price span{
    font-size: 16px;
    font-weight: 400;
    color:$price-discount;
    text-align: left;
    margin-left: 5px;
    margin-bottom: 12px;
    text-decoration: line-through;
  }
  .price span.discount-percentage{
    text-decoration: none;
  }
  .price-total{
      font-weight: bold;
      font-size:20px;
      margin-top:-7px;
  }
  @media screen and (min-width: 320px ) and (max-width:480px){
    .price{
      font-size: 16px;
    }
    .price-total{  
      font-size:18px;
    }
  }
  @media screen and (max-width: 371px){
    .price{
      font-size: 15px;
    }
    .price-total{  
      font-size:17px;
    }
  }