<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">Sobre nosotros</h1>
        <p class="lead text-muted mb-0">
          Nuestro proposito es facilitar acceso productos verdes, sanos,
          sostenibles , facilitar a los consumidores el acceso a productos
          orgánicos y artesanales, llevando a cabo de manera sostenible el
          cultivo, procesamiento, distribución y generación de residuos.
          Bienestar para todos Generar bienestar a todos los involucrados desde
          agricultores y medio ambiente hasta consumidores. Comunicar quién,
          dónde y cuándo produjo Transparencia a los consumidores sobre el lugar
          y fecha de cosecha, prácticas agrícolas utilizadas y personas
          involucradas.
        </p>
      </div>
      <div class="col-lg-6 d-none d-lg-block product-img">
        <img id="imagen" src="../../../../assets/img/vegetales1.png" alt="">
      </div>
     
    </div>
  </div>
</div>

<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1">
        <i class="fas fa-store fa-2x mb-3 text-primary"></i>

        <p class="font-italic text-muted mb-4">
          Ofrecemos hortalizas de fincas que producen de manera orgánica, huevos
          de gallinas en pastoreo, pan y quesos artesanales y constantemente
          estaremos ampliando nuestra oferta de productos artesanales que estén
          alineados con los objetivos del proyecto.
        </p>
        <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm"
          >Ver productos</a
        >
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
        <img
          src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg"
          alt=""
          class="img-fluid mb-4 mb-lg-0"
        />
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto">
        <img
          src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg"
          alt=""
          class="img-fluid mb-4 mb-lg-0"
        />
      </div>
      <div class="col-lg-6">
        <i class="fa fa-leaf fa-2x mb-3 text-primary"></i>

        <p class="font-italic text-muted mb-4">
          Ofrecemos hortalizas de fincas que producen de manera orgánica, huevos
          de gallinas en pastoreo, pan y quesos artesanales y constantemente
          estaremos ampliando nuestra oferta de productos artesanales que estén
          alineados con los objetivos del proyecto.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="bg-light py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-10">
        <h2 class="display-5 font-weight-light">Cronograma Semanal:</h2>
        <table id="customers">
            <tr>
              <th>Lunes</th>
              <th>Martes</th>
              <th>Miercoles</th>
              <th>Jueves</th>
              <th>Viernes</th>
              <th>Sabado</th>
            </tr>
            <tr>
              <td>Envío de mensajes informativos</td>
              <td>Envío de Lista de Productos y Precios</td>
              <td>Recepción de Pedidos de Clientes</td>
              <td>Cosecha Finca El Guarumo y Finca Cielo Verde</td>
              <td>Cosecha Finca El Manantial</td>
              <td>Horneada de panes en Petite France</td>
            </tr>
            
          </table>
          <h3 class="display-5 font-weight-light">Entrega de pedidos entre 8:30 y 10:00 am</h3>
          <p class="font-italic text-muted mb-4">Las formas de pago: sinpe móvil, en efectivo o transferencia
            
            </p>
            <br>
      </div>
      <h2 class="display-5 font-weight-light">Es una gran alegría que su familia sea parte del proyecto, muchas gracias.</h2>
    </div>

 

